.dark {
    background-color: black;
    color: white;
}

h5.card-title.dark {
    color: grey;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none !important;
}